[DEVICE]
Name=ATMEGA32
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_ECG_4_AVR.c
[HEADERS]
Count=2
File0=Click_ECG_4_config.h
File1=Click_ECG_4_types.h
[PLDS]
Count=1
File0=Click_ECG_4.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=ECG_4_AVR_LT
File4=easyavr_v7_ATMEGA32
File5=Sound
File6=//TWI
Count=7
