[DEVICE]
Name=MK64FN1M0XXX12
Clock=120000000
[BUILD_TYPE]
Value=0
[FILES]
Count=3
File0=Click_ECG_4_KINETIS.mbas
File1=Click_ECG_4_config.mbas
File2=Click_ECG_4_types.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_ECG_4.pld
[Useses]
File0=UART
File1=Conversions
File2=String
File3=ECG_4_MK_M4
File4=docking_station_HEXIWEAR
File5=//SPI
File6=//I2C
Count=7
