[DEVICE]
Name=P18F87K22
Clock=64000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_ECG_4_PIC.c
[HEADERS]
Count=2
File0=Click_ECG_4_config.h
File1=Click_ECG_4_types.h
[PLDS]
Count=1
File0=Click_ECG_4.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=ECG_4_P18
File4=easypicpro_v7_P18F87K22
File5=Sound
File6=//I2C
Count=7
